<a href="https://colab.research.google.com/github/sammyhup/AmandoPython/blob/main/Python_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Um pouco sobre a história da computação.

In [ ]:
print ('Hello Word')

Hello Word

In [ ]:
print('Escreva o primeiro número')
n1 = float(input())
print("Escreva o segundo número")
n2 = float( input())
media = (n1 + n2) / 2
print('media', media)

Escreva o primeiro número
2
Escreva o segundo número
3
media 2.5

## O que é programação?

### ***`Esse é um texto.`***

## O que é um programa de computador?

In [ ]:
print('"Danilo de Souza Miguel"')
print("Hello World) 
print(8 + 5)

"Danilo de Souza Miguel"
Hello Word
13

In [ ]:
print('"Hello aspas simples"')

"Hello aspas simples"

# **Aqui eu tenho um texto.**

## O que é um algoritmo?

### ***`Esse é um editor de textos`***

# Python
### Aplicações python
### Ambientes de programação python

# Exibição de informação no console, print( )

In [ ]:
nome = "Danilo"
numero = "8"

print(nome)
print(numero)



# print("Oi mundo")  # Essa função exibe informações para o usuário


#print(4)

# print("Hello Word")
# print("Este é o meu segundo print")
# print("Oi, meu nome é Danilo")

Danilo
8

# Tipos de dados em Python e a função type( )

In [ ]:
# Tipos de dados númericos 

# print() # Exibe informações na tela para o usuário
# type() # Exibe o tipo da variável

#str(idade), str(altura))


print(type(27)) # O tipo de dados do número 27 é int(numero inteiro)
print(type(7.8)) #  O tipo de dados do número 7.8 é float(numero decimal)
print(type(5.7 + 27j)) # O tipo de dados do número 5.7 é complex (numero coplex)

# print (type(100))
# print(type(5.7)) # O tipo de dados do número 5.7 é float(numero decimal)
# print(type(5.7 + 27j)) # O tipo de dados do número 5.7 é complex (numero coplex)


# Tipos de dados textual 

print(type('Danilo')) # O tipo de dados do nome Danilo é uma String

# Tipos de dados booleano 
print(type(True)) # tipo booleano, valores lógico, para Verdadeiro (True) e para Falso (False)


# # Tipos de dados númericos em python
# print(type(7)) # Numero inteiro
# print(type(7.5)) # Numero Fracionado, numero decimal
# print(type(5 + 2j))  # Numero Complexo



# # Tipo de dados booleano
# print(type(False))

# # Tipo de dados textual 
# print(type('"Danilo"'))

# nome = " Danilo de Souza Miguel"
# print(nome)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# Variáveis

In [ ]:
# numero1 = 1
# numero2 = 5
# soma = numero1 + numero2

# print(soma)

nome_usuario = "Danilo de Souza Miguel \n" # Variável nome_usuario recebe o valor Danilo
# print(nome_usuario)
idade = 36  # Variável numero recebe o valor 36
# print(idade)
altura = 1.80  # Variável altura recebe o valor 1.80
# print(altura)
professor = True # Variável aberto recebe o valor False
# print(professor)

print(nome_usuario, idade, altura, professor) # print das variáveis criadas

Danilo de Souza Miguel
 36 1.8 True

#Concatenação e conversão de tipos de variáveis

In [ ]:
primeiro_nome  = "Ednor "
sobrenome = "Cunha Silva "

print(Ednor  Cunha Silva)
idade = 48
altura = 1.68

#print( "Meu nome é " + primeiro_nome, "meu sobrenome é " + sobrenome,"minha idade é " + str(idade), str(altura))


# print(" Meu nome é ", primeiro_nome, " e meu sobrenome ", sobrenome, " e minha idade é ", idade)# print normal
# print(" Meu nome é " + primeiro_nome + " e meu sobrenome " + sobrenome + " e minha idade é " + str(idade))# 
# print(" Meu nome é " + primeiro_nome + f'e minha idade é {idade:,.2f} altura {altura:,.2f}')#

print ("Meu nome é {}, tenho {:.2f} e minha altura é {}".format(primeiro_nome,idade,altura))


#print(primeiro_nome + sobrenome + str(idade)) # Conversão de tipo,conversão para string
# print(primeiro_nome + sobrenome + idade)# Não podemos concatenar inteiros junto a Strings

# print(" Minha idade é " + str(idade) + " e minha altura é " + str(altura)) 

#print(float(idade))

Danilo Souza Miguel
Meu nome é Danilo , tenho 36.00 e minha altura é 1.78

In [ ]:
primeiro_nome = "Camila"
sobrenome = "Brito"
idade = 34
altura = 1.65
print("Meu nome é " + primeiro_nome + " e meu sobrenome é " + sobrenome)

Meu nome é Camila e meu sobrenome é Brito

In [ ]:
Primeiro_nome  = " Rodrigo "
sobrenome = " SANTOS "
idade = 19
altura = 1.68

print(str(idade), str(altura))


#print(primeiro_nome + sobrenome + str(idade)) # Conversão de tipo,conversão para string
# print(primeiro_nome + sobrenome + idade)# Não podemos connomecatenar inteiros junto a Strings

# print(" Minha idade é " + str(idade) + " e minha altura é " + str(altura)) 

#print(float(idade))

19 1.68

# Função Input

In [ ]:
nome =  input("Digite o seu nome: ")
idade =  input("Digite sua idade: ")
print("O nome do usuário é", nome, "e sua idade é",idade)




# print("Digte seu nome: ")
# nome_entrada = input()

# from fractions import Fraction

# # idade = float(input("Digite a sua idade"))
# idade = Fraction(input("Digite a sua idade"))
# print(type(idade))
# print(idade)

Digite o seu nome: op
Digite sua idade: 25
O nome do usuário é op e sua idade é 25

# Escreva um programa no qual o usuário entre com o valor do carro e o valor do IPVA(São Paulo) a ser pago seja impresso.

In [ ]:
print("\t Calculo da média")
num1 = int(input("Digite o primeiro numero "))
num2 = int(input("Digite o segundo numero "))
media  = (num1 + num2) / 2
print("Media é =", media)

	 Calculo da média
Digite o primeiro numero 1
Digite o segundo numero 5
Media é = 3.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## ***Saida e entrada de dados, operadores, conversão de tipos:***
### Crie um software que receba dois numeros calcule a média entre eles e mostre o resultado.

In [ ]:
# valor_carro = float(input("Informe o valor do carro: "))
# valor_ipva = valor_carro * 0.04
# print(f'O valor do IPVA SP para o veículo com valor {valor_carro} é de {valor_ipva}')


# valor= float(input("Informe o valor do seu carro?: "))
# IPVA= 0.04*valor
# print("IPVA= ", IPVA)


# valor = float(input("Coloque o valor do carro em R$: "))
# IPVA = valor * 0.04
# print("O valor do IPVA a ser pago é de:" + "R$" +format(IPVA))


# valor = float(input("Coloque o valor do carro: "))
# IPVA = valor * 0.04
# print("O valor do seu IPVA a ser pago é de : R${:20.2f}".format(IPVA))

# carro = float(input("Digite o valor do carro: "))
# ipva = carro * 0.04
# print(f"O valor do IPVA é: R${ipva}")

Digite o valor do carro: 10
O valor do IPVA é: R$0.4

# Quem é voce?  Crie uma variável para cada dado e conte quem você, usando concatenação e conversão de dados.  Nome, Sobrenome, idade, altura

In [ ]:
primeiro_nome  = "Danilo "
sobrenome = "Miguel "
idade = 35
altura = 1.80
print("Meu nome é " + primeiro_nome + "e meu sobrenome " + sobrenome + "tenho " + str(idade) + "anos " + "e minha altura é " + str(altura)) 


# primeiro_numero = "20"
# segundo_numero = "21"
# print(primeiro_numero + " " +segundo_numero)  # Concatenação das variáveis primeiro_nome e segundo_nome
# print(primeiro_numero, segundo_numero)

# nome  = input("Digite seu nome")
# sobrenome = "Miguel"
# idade = 35

# print(type(idade))

print(nome, sobrenome, idade)
print ("Oi meu nome é: " + nome + " " + sobrenome + " minha idade é 35")
print ("Oi meu nome é: " + nome + " e minha idade é " + str(idade))  # Conversão da variável idade(int) para str
print ("Oi meu nome é: ",nome, " e minha idade é",idade, "teste" )

print(type(idade))       
print(type(str(idade)))   # resulta STR


print(type(idade))

str()

numero_inteiro = 100
numero  = float(numero_inteiro) # Conversão da variável numero_inteiro(int) para float

print(numero_inteiro, numero)

teste_conversao = "45."
teste_conversao_string = float(teste_conversao)
print(teste_conversao)
print(teste_conversao_string)

numero_complexo_string ="1+5j"
string_teste = "j"
convert_complex = complex(string_teste)
numero_complexo = complex(numero_complexo_string)

Meu nome é Danilo e meu sobrenome Miguel tenho 35anos e minha altura é 1.8
Danilo Miguel  35
Oi meu nome é: Danilo Miguel  minha idade é 35
Oi meu nome é: Danilo e minha idade é 35
Oi meu nome é:  Danilo  e minha idade é 35 teste
<class 'int'>
<class 'str'>
<class 'int'>
100 100.0
45.
45.0

# Desafio: 
##Quem é você? Imprima seu nome, sua idade e qual será sua idade no próximo ano.

# Operação com boleanos

In [ ]:

True + 4 * True

5

#Desafio: 
## Entre com o valor da conta de um restaurante e calcule a gorjeta do garçom, nesse restaurante a gorjeta do garçom é de 10 por cento.

Insira o valor da conta 500
500.0
50.0

# Manipulação de Strings

In [ ]:
teste =  "primeiro Teste Teste Teste"
segundo_teste = "Este é outro teste"
# numero = "54.5"

print(type(teste))
print(len(teste))
print("Danilo " + "Souza Miguel")
teste_replace =  teste.replace("Primeiro", "Terceiro")
print(teste_replace)
print(teste.startswith("Primeiro"))
print(teste.endswith("Primeiro"))
print(teste.count("Teste"))
print(teste.capitalize())

# print("Danilo de Souza Miguel")

# type(teste) # Tipo de dados 
# len(teste) # Tamanho da string
# len("Danilo")

# print(teste + segundo_teste + numero) # concatenação


# nome = "Danilo"  # Substituindo uma substring por outra string
# # meu_nome = nome.replace("Miguel", "Souza")
# # print(meu_nome) 

# print(nome.startswith("Danilo"))
# print(nome.endswith("Miguel"))
# print(nome.count("Danilo"))
# print(nome.capitalize())
# print(nome[-1])







# numero = 54.5
# conv = str(numero)

# print(conv.replace(".", ","))

<class 'str'>
26
Danilo Souza Miguel
primeiro Teste Teste Teste
False
False
3
Primeiro teste teste teste

# Operadores

In [ ]:
ainda não entendi como funciona o f pra colocar casas decimais, o que to errando?

print("Indique o primeiro número: ")
primNum = float(input())
print("Indique o segundo número: ")
segNum = float(input())
media = (primNum+segNum)/2
print(f"A média é:  {media:.2f}")

Object `errando` not found.
Indique o primeiro número:
85
Indique o segundo número:
98
A média é:  91.50

### Operadores aritméticos

In [ ]:
# print (5 + 5) # soma
# print (85 - 72) # subtração
# print (8 * 7) # multiplicação
# print (56 / 12) # divisão

# print(4 ** 4) # Potenciação
print(5 / 2)
print(5 // 2) # Retorna sempre um numero inteiro

print(6 % 2) # Retorna o resto da divisão

# import math
# numero = 9
# print(math.sqrt(numero))


# help(input)

2.5
2
0

### Operadores de atribuição

In [ ]:
# a = 1
# b  = 10
c = 15
d = 20
#  e = 50

# a += 5  # a = a + 5
# b -= 1  # b = b - 1
# c *= 1  # c = c * 1
d //= 2  # d = d / 2
#  e %= 1  # x = e % 1

# a = 10
# a += 10
# a -= 10
# a *= 8
# a /=5

# a = a / 5
# b = 6
# b %=2
# print(a)
# print(b)
# print(c)
print(d)
#  print(e)

10

#  Operadores de comparação

In [ ]:
# print(7 == 8) # (==) Representa igualdade

# print(2.5 == 2.5)
# print("texto" == "texto")

# A = (1 > 2)
# print("Valor de A:", A) 

# B = (1 < 2)
# print("Valor de B:", B)

# print( 10 > 9) # Verifica se numero da esquerda é maior ao número da direita
# print( 8 > 9) # Verifica se numero da esquerda é menor ao número da direita

print( 10 >= 9) # Verifica se numero da esquerda é maior ou igual ao número da direita
print( 7 <= 9) # Verifica se numero da esquerda é menor ou igual  ao número da direita

print( 9 !=  9) # Verifica se numero da esquerda é diferente  ao número da direita

True
True
False

# Operadores Lógicos

In [ ]:
x =  5
numero = x > 1 and x == 5 # Operador "AND" Se todas as condições forem verdadeiras então é verdadeiro
print(numero)

numero = x > 1 or x < 5 # Operador "OR" Se  umas das condições for verdadeira então é verdadeiro
print(numero)

numero = not(x > 1 or x < 5) # Operador "NOT"  inverte o valor da expressão
print(numero)

True
True
False

# Entendendo o que são os comentários de última/várias linhas

In [ ]:
# Esse é um comentario de uma linha
# Outro comentário
''' Esse é um comentario de uma linha '''

' Esse é um comentario de uma linha '

# Exibindo valores númericos formatados 

---

In [ ]:
medida_polegada = float(input("Informe a medida em polegada: "))
medida_centimetro = medida_polegada * 2.54
saida = "A saida " + str(medida_polegada) + "polegadas em centimetros é: " + str(medida_centimetro) # Não é possivel concatener valores númericos
print(f" A medida de {medida_polegada} polegadas em centimetro e:{medida_centimetro:.2f} ")
print(saida)

Informe a medida em polegada: 50
 A medida de 50.0 polegadas em centimetro e:127.00
A saida 50.0polegadas em centimetros é: 127.0

# Formatação de blocos e indentação e estrututa de seleção if/else

In [ ]:
numero = 10
numero1 = 5

# if numero1 > numero:
#   print("O numero " + str(numero1) + " é maior que o numero " + str(numero))
# else:
#   print("O numero " + str(numero1) + " é menor que o numero " + str(numero))




# if idade >= 18 and amigo_dono == True:
#   print("Pode entrar") 
# else:
#   print("Va para casa")  

idade = 19
amigo_dono = True

if idade >= 18:
  print("Pode entrar") 
print("Va para casa") 





# A identação se aplica com 2 espaços ou um tab

Pode entrar
Va para casa

***Entrada e saida de dados, estrutura de seleção, operadores***:
## Crie um algoritmo que receba o salário atual de um funcionário, calcule o valor do novo salário reajustado de acordo com os dados abaixo.
* Se o salario atual do funcionário for abaixo de 1000 reais, o reajuste será de 15%.
* Se o salario atual do funcionário for acima de 1000 reais, o reajuste será de 10%.

In [ ]:
# print('\t Cálculo do novo salário')
# salario_atual = float(input('Informe o salario atual: '))

# if salario_atual <= 1000:
#     salario_novo=salario_atual+(salario_atual*0.15)
#     print('Salario com reajuste' '=', salario_novo)
# elif salario_atual > 1000:
#     salario_novo=salario_atual+(salario_atual*0.10)
#     print('Salario com reajuste' '=', salario_novo)


# print('\t Cálculo do novo salário')
# salario_atual = float(input('Informe o salario atual: '))

# if salario_atual <= 1000:
#     salario_novo=salario_atual+(salario_atual*0.15)
#     print('Salario com reajuste' '=', salario_novo)
# else:
#     salario_novo=salario_atual+(salario_atual*0.10)
#     print('Salario com reajuste' '=', salario_novo)

# print("Digite o salário:")
# x = float(input())

# if x < 1000:
#   x = x + 0.15*x
#   print('Salario com reajuste' '=', x)
# else:
#   x = x + 0.1*x
#   print('Salario com reajuste' '=', x)


print("Cálculo de Reajuste Salarial")
print("\n")

salario = input("Digite seu salário atual: ")
salario = float(salario)

print("O valor do salário reajustado é: ")

if salario <= 1000:
  print(salario * 1.15)
else:
  print(salario * 1.10)

  print("novo salário = R$ {:.2f}".format(x))
  print(f"novo salário = R$ {x:.2f}")

Cálculo de Reajuste Salarial


Digite seu salário atual: 2000
O valor do salário reajustado é:
2200.0
novo salário = R$ 2200.00
novo salário = R$ 2200.00

# Importando bibliotecas - Trabalhando com data e hora

In [ ]:
import math
from math import sqrt

from datetime import datetime, timezone
from datetime import date
from dateutil import tz

print(math.sqrt(9))
print(sqrt(25))



# print(sqrt(25))


# print(sqrt(25))


# import datetime
# import math
# from datetime import date



data_hj = date(year=2021, month=11, day=16)
print(data_hj)
 
print(datetime.today()) # Data atual
# print(datetime.today())
print(datetime.now().isoformat()) # Data atual

print(datetime.today().strftime('%Y-%d-%m'))# Alterando o formato da data
# print(datetime.today().strftime('%Y-%m-%d %H:%M')) # Tirando os milesegundos
print(datetime.today().strftime('%A, %B %d, %Y %H:%M:%S'))# Incluindo os dias da semana 
print(datetime.today()tz.tzlocal()) # Data atual


# print(fuso)

SyntaxError: ignored

# Números formatados

In [ ]:
porcentagem = 0.10
valor_conta = 500
Gorjeta = "A gorjeta do garçom"

# Gorjeta ="A gorjeta do garçom é " +  (porcentagem) * (valor_conta) # Errado
print(Gorjeta)

# Primeira solução
Gorjeta ="A gorjeta do garçom é " +  str((porcentagem) * (valor_conta))
print(Gorjeta, "Conversão de tipos")


# print("A gorjeta do garçom é" (porcetagem) * (valor_conta))

porcentagem = 0.10
valor_conta = 500
Gorjeta1 = "A gorjeta do garçom"

Gorjeta1 = porcentagem + valor_conta
print (Gorjeta1)

# print (f"{Gorjeta}")

# print(type(Gorjeta))

A gorjeta do garçom
A gorjeta do garçom é 50.0 Conversão de tipos
500.1

In [ ]:
porcentagem = 0.10
valor_conta = 500
Gorjeta1 = "A gorjeta do garçom"

Gorjeta1 = porcentagem * valor_conta
print (Gorjeta1)

50.0

# Operações com booleanos

In [ ]:
 a = True  # Valor lógico 1
 b = False # Valor lógico 0
#  c  =  a < b
#  d  =  a > b
#  e  = a == b
#  print ("Valor de c é:", c)
#  print ("Valor de d é:", d)
#  print ("Valor de e é:", e)

# print ("Valor de b", not b)
# print ("Valor de a e b", a or b)
print ("Valor de a e b", a and b)

Valor de a e b False

# Operadores condicionais (if, else,elif)

In [ ]:
nome = "DAnilo"
if nome:
    print("A variavel não é vazia")  

numero1 = 20
numero2 = 30
if numero1 != numero2:
  print("Numero 1 menor que o numero 2") 
else:
  print("Numero 2 maior que o numero 1") 
    

cor =  "azul"

if cor == "verde":
  print("Siga em frente")
elif cor == "vermelho":
  print("Você tem que parar")
elif cor == "azul":
  print("Vá de metro")
else:
  print("Vá com calma, atenção")

A variavel não é vazia
Numero 1 menor que o numero 2
Vá de metro

# Funções

In [ ]:
# def teste():
#   print("Essa é uma função de teste")
# teste()


# def exibirNome(nome, idade):
#   print ("Oi, esse é o meu nome:", nome, "e a minha idade é: ", idade)

# exibirNome("Danilo", 36)  

def soma(numero1, numero2):
  soma =  numero1 + numero2
  resultado = "O resultado é"
  return resultado, soma

primeiro_numero = int(input("Digite o primeiro numero"))
segundo_numero = int(input("Digite o segundo numero"))

soma(primeiro_numero,segundo_numero)

Digite o primeiro numero40
Digite o segundo numero40

('O resultado é', 80)

In [ ]:
# Erro de sintaxe
# if(True):
#   print("ok")

# 5/0
num  = 2
(5 * num) + 10

20

## Escreva uma função que calcule e retorne o  pagamento semanal de um funcionário, através das horas trabalhadas e o valor da hora.

In [ ]:
# def calcular_pagamento(horas, valor_hora):
#     horas = float(horas)
#     taxa = float(valor_hora)
#     if horas <= 40:
#         salario=horas*taxa
#     else:
#         hora_extra = horas - 40
#         salario = 40*taxa+(hora_extra*(1.3*taxa))
#     return salario

# calcular_pagamento(50, 6)    

# def pagamentoSemanal(horas, valordahora):
#   pagamentoSemanal= horas*valordaHora
#   return pagamentoSemanal

# horas = float(input('Horas trabalhadas:'))
# valordaHora = float(input('Valor hora trabalhada:'))
# pagamentoSemanal(horas, valordaHora)


# def nomeAluno(*nomes):
#   print("Agora vou imprimir o nome de alguns Alunos:")
#   for nome in nomes: 
#     print(nome)
#   return "Será que funciona?"  

# nomeAluno("A FM", "Izabel", "Kelvin", "Danilo")  

# if 5 in (1,2,3,9,7):
#   print("Está contido")
# else:
#   print("Não tem 5 ai")  



# nomeAlunos2 = ("A FM", "Izabel", "Kelvin", "Danilo")
# for n in nomeAlunos2:
 
#   print(nomeAlunos2)
#   print(n)


for x in "Danilo":
  print(x)

D
a
n
i
l
o

# Operadores de repetição

# Lista

In [ ]:
frutas = ["Maça", "Banana", "Abacate","Marmelo","Uva"]
frutas.reverse()

# print(type(frutas))
# print(len(frutas))
# print(frutas[4])
# frutas.append("Marmelo")
# frutas.insert(0, "Carambola")
# frutas[3] = "pera"


# frutas.remove(True)
# frutas.pop(0)
print(frutas)


# print(len(frutas))


# frutas[1] = "goiaba"
# frutas.append("Banana")
# frutas.insert(0, "Acerola")
# frutas.remove("Uva")
# frutas.pop()
# frutas.sort()

# print(frutas)
# print(type(frutas))
# print(len(frutas))
# print(frutas[0])

# frutas[3] = "Manga" # Alterando valor do elemento na lista
# print(frutas)

# frutas.append("Laranja") # Inserindo novo elemento na lista
# frutas.append(" ") # Inserindo novo elemento na lista

# print(frutas)

# frutas.insert(0, "Morango")#Inserindo novo elemento na lista utlizando insert()
# print(frutas)

# frutas.remove("Morango") # Remove informando o parametro
# print(frutas)

# frutas.pop(1)
# print(frutas)

# numeros = [7,1,5,3,4, True, "Texto", ["elemento1", "elemento2"]]
# frutas.sort()
# print(frutas)

# numeros[7].insert(2,"elemento3")

# print(numeros)

# print(len(frutas))


# notas = [[5,5,4], [7,9,5],[8,6,9]]

# print((notas[0][0] + notas[0][1] + notas[0][2]) / 3 )

['Uva', 'Marmelo', 'Abacate', 'Banana', 'Maça']

# Tuplas

In [ ]:
Alunos = ('Danilo', 'Marcelo', 'Ana', 'Maria')
frutas = ('Banana')
frutas = ('Banana',)
print(type(frutas))
print(len(frutas))
# print(type(Alunos))
# print(Alunos[1])
# print(Alunos)

<class 'tuple'>
2

# Dicionário

In [ ]:
dicionario = {'nome':"Danilo", 'idade': 36, 'altura': 1.80, 'frutas':['maça', 'banana']} # Criação do dicionário
# print(dicionario['nome'])
# # dicionario['nome'] = "Marcelo"
# del dicionario['nome']
# dicionario.pop('altura', None)

print(dicionario)
# dicionario1 = {'feira':['banana', 'maça', 'uva'], 'nome': 'Danilo'}
# lista = ["Danilo", 35, 1.80] 
# dicionario['cpf'] = 40454545 # Adicionando um novo item
# dicionario.pop('altura', None) # Remoção
# del dicionario['idade'] # Remoção
# print(dicionario)
# print(dicionario1)
# print(dicionario['nome'], dicionario['cpf'] )

{'nome': 'Danilo', 'idade': 36, 'altura': 1.8, 'frutas': ['maça', 'banana']}

# Função range()

In [ ]:
# // start, stop, step
list(range(3, 30, 3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

# Função list()

####***Lista:***
### Crie uma lista de numeros com cinco 5, 10, 7, 8, e 45
* Exiba o tamanho da lista
* Exiba o segundo indice da lista
* Altere 10 por 77
* Adicione 10 novamente a lista
* Insira o numero 85 após o 8
* Remova 7

In [ ]:
numeros = [5,10,7,8,45, 7, 7]
# print(len(numeros))
# print(numeros[1])
# numeros[1] = 77
# numeros.append(10)
# numeros.insert(4, 85)
numeros.remove(7)
print(numeros)

[5, 10, 8, 45, 7, 7]

##***Leitura de arquivos***

In [ ]:
list("Danilo")
list((5,2,3))

[5, 2, 3]

### ***Funções, estrutura de repetição***
###Crie uma função que exiba todos os numeros pares de 0 a 20

In [ ]:
def conta():
  return(tuple(range(0,21,2)))

# conta()  

def pares():
  return list(range(0,21,2))

# pares()  


def numeros_pares():
  for i in range(0,21,2):
    print(i)

# numeros_pares()


def numeros_pares():
  numero = 0
  while numero <= 20:
    if numero % 2 == 0:
      print(numero)
    numero = numero + 1  

numeros_pares()

0
2
4
6
8
10
12
14
16
18
20

# Laços, repetição e operadores condicionais

In [ ]:
idade = int(input("Digite sua idade: \n"))
amigo = str(input("Voce amigo do dono: \n"))
amigo =  amigo.upper()
print(amigo)
if idade > 18 or amigo == "SIM":
    print("Pode entrar")
# elif amigo == "Sim":
#   print("Pode entrar")
else:
    print("Va para casa")

Digite sua idade:
15
Voce amigo do dono:
sim
SIM
Pode entrar

## Enquanto

In [ ]:
numero = 50

# while numero > 10:
#   print(numero)
#   numero =  numero - 10
# print("Pode parar")

nome = input('Insira seu nome')
while nome:
nome = input('Insira seu nome')

Insira seu nomeDAnilo
Insira seu nome
Insira seu nome
Insira seu nome
Insira seu nome
Insira seu nome
Insira seu nome
Insira seu nome
Insira seu nome
Insira seu nome

KeyboardInterrupt: ignored

# Para cada

In [ ]:
# lista = [1,2,3,4]
# i = 0
# while i < len(lista):
#   lista[i] = lista[i] + 1
#   print(len(lista))
#   i = i + 2

estados = ['Amazonas', 'São Paulo', 'Minas Gerais']
for i in range (3):
  print(i)
  print(estados[i])





# lista2 = []

 
# while < len (lista):
#   print(lista[item])
#   item  = item + 1

0
Amazonas
1
São Paulo
2
Minas Gerais

# enumerate

In [ ]:
estados = ['Amazonas', 'São Paulo', 'Minas Gerais']
list(enumerate(estados, start=10))

[(10, 'Amazonas'), (11, 'São Paulo'), (12, 'Minas Gerais')]

### Exercicio
Dada a tabela o IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto.

|Base de cálculo (R$)	|Alíquota (%)|
--------------------- |-------------|
|Abaixo de 1.903,99    | 0%  |
|De 1.903,99 até 2.826,65|	7,5%	|
|De 2.826,66 até 3.751,05|	15%	|
|De 3.751,06 até 4.664,68|	22,5%	|
|Acima de 4.664,68|	27,5%|

# Funções

In [ ]:
def hello(meu_nome):
  print("Ola meu nome é:", meu_nome)

hello("Fabio")  

def calcular_gorjeta(valor_conta, porcentagem):
  gorjeta = valor_conta * porcentagem
  return gorjeta

calcular_gorjeta(590, 0.1)

Ola meu nome é: Fabio

59.0

##***Comanods linux e leitura de arquivos***

In [ ]:
# !ls
# ! rm -r text
# ! mkdir aula1
# !cd aula1/
# !touch teste.txt
# ! touch aula1/test.txt

# arquivo  = open('teste.txt', 'w')
# conteudo = arquivo.write('arquivo')
# print(conteudo)

def escrever_arquivo(texto):
    arquivo = open('teste.txt', 'w')  # Criar em outro diretório 
    arquivo.write(texto)
    arquivo.close()

###***Crie um dicionário que descreve quem é você, deve conter ser nome, altura, endereço e idade***

In [ ]:
dicionario = {'Nome': '', 'Altura':'', 'Endereço':'', "Idade":''}
dicionario['Nome'] = input("Digite seu nome ")
dicionario['Altura'] = input("Digite a sua altura ")
dicionario['Endereço'] = input("Digite seu endereço ")
dicionario['Idade'] = input('Digite sua idade ')

print(dicionario)

Digite seu nome Danilo
Digite a sua altura 1.8
Digite seu endereço São Paulo
Digite sua idade 36
{'Nome': 'Danilo', 'Altura': '1.8', 'Endereço': 'São Paulo', 'Idade': '36'}